---
import Img from "../Img.astro";

interface Props {
  icon : string,
  nameicon : string,
  customstyles : string,
}

const {icon,nameicon,customstyles} = Astro.props
---

<button class="delheader" >
  <Img icon={icon} nameicon={nameicon} customstyles={customstyles} ></Img>
</button>

