---
import Layout from "../layouts/Layout.astro";
---
<div class="flex flex-wrap gap-3 m-auto w-9/12">
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
  
  <div class="w-48 h-auto p-2  relative text-blanco bg-newblack border-2 border-newgray3 rounded-2xl">
    <dl class="  px-1 pt-1 pb-2 flex flex-col-reverse">
    
      <dt class="py-1.5  px-6 border-blanco border-t-2 border-b-2  text-center basis-1/4">
        <h2 class="text-base"><strong>JavaScript</strong></h2>
      </dt>
  
      <dd class="p-6  basis-1/2">
        <img class="m-auto w-1/2" src="javascripticon.svg" alt="javascript">
      </dd>
      
      <!-- tags -->
      <dd class="hidden">El Lenguaje de la Web</dd>
      <dd class="hidden">Lenguaje de programacion</dd>
    
      <dd class=" border-blanco border-b-2 pb-2 flex flex-row basis-1/4">
        <div class="basis-1/2">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
              <img class="inline-block" src="starblackicon.svg" alt="">
        </div>
        <div class="basis-1/2 text-right">
              <span><strong>01</strong></span>
        </div>
            
      </dd>
      <a href="javascript" class="absolute top-0 left-0 bottom-0 right-0 w-full "></a>
    
    </dl>
  </div>
</div>

